{% extends "index.html" %}

{% load static %}

{% block globalProject %}
  <div id="slider" data-section="home">
    <div class="owl-carousel owl-carousel-fullwidth">
      {% for project in AllProject %}
        <div class="item" style="background-image:url({% static 'images/slide_4.jpg' %})">
          <div class="overlay"></div>
          <div class="container" style="position: relative;">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 text-center">
                <div class="fh5co-owl-text-wrap">
                  <div class="fh5co-owl-text">
                    <h1 class="fh5co-lead to-animate">{{ project.nom }}</h1>
                    <h2 class="fh5co-sub-lead to-animate">{{ project.description|truncatewords_html:40 }}</h3>
                    <p class="to-animate-2"><a href="{% url "blog.views.project" project.id %}"class="btn btn-primary btn-lg">Voir le projet</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block news %}
  <div id="fh5co-our-services" data-section="news">
    <div class="container">
      <div class="row row-bottom-padded-lg">
        <div class="col-md-12 section-heading text-center">
          <h2 class="to-animate">Les nouvelles</h2>
        </div>
      </div>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
          <div class="item active">
            <img src="/{{ news_first.avatar }}">
             <div class="carousel-caption">
              <h4><a href="#">{{news_first.titre}}</a></h4>
              <p>{{ news_first.contenu|truncatewords_html:50 }}</p>
            </div>
          </div><!-- End Item -->
            {% for n in news %}
            <div class="item">
              <img src="/{{ n.avatar }}">
               <div class="carousel-caption">
                <h4><a href="#">{{n.titre}}</a></h4>
                <p>{{ n.contenu|truncatewords_html:50 }}</p>
              </div>
            </div><!-- End Item -->
            {% endfor %}
          </div><!-- End Carousel Inner -->


        <ul class="list-group col-sm-4">
          <li data-target="#myCarousel" class="list-group-item active"><h4>{{news_first.titre}}</h4>{{news_first.contenu|truncatewords_html:10}}</li>
          {% for n in news %}
            <li data-target="#myCarousel" class="list-group-item"><h4>{{n.titre}}</h4>{{n.contenu|truncatewords_html:10}}</li>
          {% endfor %}
        </ul>

        </div><!-- End Carousel -->
    </div>
  </div>
{% endblock %}

{% block project %}
  <div id="ct-news" data-section="project">
    <div class="container">
      <div class="row row-bottom-padded-lg" id="about-us">
        <div class="col-md-12 section-heading text-center">
          <h2 class="to-animate">Le fonctionnement d'un Projet</h2>
          <div class="row">
            <div class="col-md-8 col-md-offset-2 to-animate">
              <h3>Vestibulum bibendum dapibus libero convallis tincidunt. Quisque sed facilisis urna. Morbi et mollis urna. Mauris quis rhoncus mauris. Quisque sit amet aliquet metus. Fusce vitae varius leo. Sed lobortis ultrices justo, vel suscipit justo tempus sit amet. Vestibulum maximus sagittis leo non iaculis. Mauris et dapibus orci. Fusce eu odio viverra, accumsan elit vel, sollicitudin turpis. Aenean gravida ipsum eget ex suscipit condimentum. Praesent egestas et nunc a pharetra. Donec vel nisi placerat, dapibus neque sodales, bibendum odio. Mauris convallis tristique consequat. Vivamus blandit magna in tortor vehicula suscipit. </h3>
            </div>
          </div>
        </div>
        <div class="col-md-7 to-animate">
          <img src="{% static 'images/une-idee-un-projet.png' %}" class="img-responsive img-rounded">
        </div>
        <div class="col-md-5 to-animate">
          <h2>Par quoi commencer ?</h2>
          <p>Phasellus nibh ante, laoreet quis risus nec, auctor dictum turpis. Suspendisse congue ligula quis convallis ultricies. Pellentesque semper consectetur turpis in mollis. Maecenas turpis urna, tempus vitae mauris vulputate, egestas luctus mauris. Nullam bibendum feugiat risus, ac rhoncus justo luctus in. Morbi at volutpat orci, at pharetra nisi. Curabitur blandit lorem sed auctor tempus. Mauris pretium mi vitae dictum dignissim. Vestibulum vitae imperdiet dolor. Vestibulum eleifend a eros quis fringilla. Nam mollis, odio nec fermentum elementum, lectus odio aliquam purus, sed laoreet lacus felis et justo. Nulla nec quam sed elit tincidunt accumsan. Quisque porta tristique aliquet. Maecenas pharetra interdum purus, quis luctus ante venenatis et. Mauris ut tempor lacus. </p>

        </div>
      </div>
      <div class="row row-bottom-padded-lg" id="about-us">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6 to-animate" style="padding-right:10px">
              <h2>Un crayon, une feuille ?</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse gravida varius malesuada. Vivamus eu rutrum ipsum. Proin eu felis eget turpis vulputate lacinia nec nec justo. Sed massa nulla, egestas ut laoreet non, iaculis porttitor ligula. Aliquam consequat risus non felis euismod eleifend. In dui nisi, efficitur nec suscipit ac, tempor ut lacus. Integer sed ipsum in sem placerat blandit eget id arcu. Pellentesque ut ante justo. Morbi eget lorem sodales, maximus risus vel, euismod nibh. Pellentesque euismod bibendum ipsum, eget ornare massa gravida ac. </p>
            </div>
            <div class="col-md-6 to-animate">
              <img src="{% static 'images/papier-crayon.jpg' %}" class="img-responsive img-rounded" />
            </div>
          </div>
          <p><a href="#" class="btn btn-primary" data-nav-section="team">Rencontrer l'équipe</a></p>
        </div>
      </div>
    </div>
  </div>
  <div id="fh5co-our-services" data-section="team">
    <div class="container">
      <div class="row">
        <div class="col-md-12 section-heading text-center to-animate">
          <h2>Team</h2>
        </div>
        <div class="col-md-12">
          <div class="row row-bottom-padded-lg">
            {% for personn in team %}
            <div class="col-md-4 text-center to-animate">
              <div class="person">
                <img src="/{{ personn.avatar }}" class="img-responsive img-rounded">
                <h3 class="name">{{personn.prenom}} {{personn.nom}}</h3>
                <div class="position">{{personn.fonction}}</div>
                <p>{{personn.description}}</p>
                <ul class="social social-circle">
                  <li><a href="#"><i class="icon-twitter"></i></a></li>
                  <li><a href="mailto:cesitech@viacesi.fr"><i class="icon-envelope"></i></a></li>
                  <li><a href="#"><i class="icon-instagram"></i></a></li>
                  <li><a href="#"><i class="icon-github"></i></a></li>
                </ul>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block calendar %}
  <div id="fh5co-features" data-section="calendar">
    <div class="container">
      <div class="row">
        <div class="col-md-12 section-heading text-center to-animate">
          <h2>L'agenda</h2>
        </div>
        <div class="col-md-12">
          <div id="timeline">
            {% for date in calendar%}
          	<div class="dot" id="{{date.name}}">
          		<span></span>
          		<date><strong>[{{date.projet_id.nom}}]</strong> - {{date.name}}<br>{{date.date}}</date>
          	</div>
            {% endfor%}
            <div class="inside"></div>
          </div>
          <!-- Modals -->

            {% for date in calendar%}
              <article class='modal {{date.name}}'>
                <date>{{date.date}}</date>
                <h2>{{date.projet_id.nom}} - {{date.name}}</h2>
                <p>{{date.description}}</p>
              </article>
            {% endfor%}
        </div>
      </div>
    </div>
  </div>
{%  endblock %}

{% block contact %}

<div id="fh5co-press" data-section="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="single-animate animate-press-1">Nous contacter</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext single-animate animate-press-2">
            <h3>
              {% if envoi %}<div class="alert alert-success" role="alert"><center><strong>Votre message a bien été envoyé !</strong></center></div>{% endif %}
              <form action="{% url "blog.views.home" %}" data-nav-section="contact"  method="post">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <center><input type="submit" value="Envoyer le message" /></center>
              </form>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block end %}
 <script>
 $('.dot:nth-child(1)').click(function(){
   $('.inside').animate({
     'width' : '20%'
   }, 500);
 });
 $('.dot:nth-child(2)').click(function(){
   $('.inside').animate({
     'width' : '40%'
   }, 500);
 });
 $('.dot:nth-child(3)').click(function(){
   $('.inside').animate({
     'width' : '60%'
   }, 500);
 });
 $('.dot:nth-child(4)').click(function(){
   $('.inside').animate({
     'width' : '80%'
   }, 500);
 });
 if ($('#switch1').not(':checked')){
   $('.modal').wrap('<div class="mask"></div>')
     $('.mask').click(function(){
       $(this).fadeOut(300);
       $('.mask article').animate({
         'top' : '-100%'
       }, 300)
     });

     $('.dot').click(function(){
       var modal = $(this).attr('id');
       $('.mask').has('article.' + modal).fadeIn(300);
       $('.mask article.' + modal).fadeIn(0).animate({
         'top' : '10%'
       }, 300);
     });
 }

var boxheight = $('.carousel-inner').height();
var itemlength = $('.item').length;
var triggerheight = Math.round(boxheight/itemlength+1);
$('.list-group-item').height(triggerheight);

var idNew = 1;
var clickEvent = false;
$('#myCarousel').carousel({
interval:   6000
}).on('click', '.list-group li', function() {
  clickEvent = true;

  $('li.list-group-item').removeClass('active');
  $('ul.list-group').removeClass('active');
  idNew = ($(this).index());
  console.log(idNew);
  $('ul.list-group-item:nth-child('+(idNew)+')').addClass('active');
  $(this).addClass('active');

}).on('slid.bs.carousel', function(e) {
if(!clickEvent) {
  var count = $('ul.list-group').children().length-1;
  $('li.list-group-item:nth-child('+idNew+')').removeClass('active');
  if(count<idNew) {
    $('li.list-group-item').first().addClass('active');
    idNew = 1
  } else {
    idNew++;
    $('li.list-group-item:nth-child('+idNew+')').addClass('active');
  }
}
clickEvent = false;
});
</script>
{% endblock %}
